################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/JAM.Netduino3.App/obj
/src/JAM.Netduino3.App/bin
/src/JAM.Netduino3.Web/obj
/src/JAM.Netduino3.Web/bin
